
7583-rice-ball.png

bla/owner.py

edited cogs that came with red/owner.py

edited cogs that came with red/owner.py

ettenoir.py

test.html

help.py

to do list

newcomer.py

rice/Private.py

rice/info.json

rice/rice.py

cuisine.py

economy.py

Random Stuff/BOT FRAME.py

Random Stuff/cleverbot.py

Random Stuff/money.py

Random Stuff/owner.py

waitroom/waitroom.py

waitroom/waitroom.py

waitroom/waitroom.py
